<launch>

  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py">
    <param name="lm" value="$(find pioneer_utils)/voice_audio/dic/commands.lm"/>
    <param name="dict" value="$(find pioneer_utils)/voice_audio/dic/commands.dic"/>
  </node>

  <node name="sound_play" pkg="sound_play" type="soundplay_node.py"/>

  <node name="voice_cmd_vel" pkg="pioneer_utils" type="voice_cmd_vel.py" output="screen">
    <param name="map_locations" value="$(find pioneer_utils)/main/locations.txt"/>
    
    <rosparam>
       odometry_topic: odom
       cmd_vel_topic: cmd_vel
       rest_time: 5
     </rosparam>
  </node>

</launch>
