<?xml version="1.0"?>

<launch>

    <arg name="camera" default="camera" />

    <!-- start sensor-->
    <include file="$(find freenect_launch)/launch/freenect.launch">
        <arg name="camera" default="$(arg camera)"/>
    </include>

    <!-- run depthimage_to_laserscan node -->
    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
        <remap from="image" to="/camera/depth/image_raw"/>
        <remap from="camera_info" to="/camera/depth/camera_info"/>
        <remap from="scan" to="camera/scan"/>

        <rosparam>
            scan_height: 20
            scan_time: 0.167
            range_min: 0.45
            range_max: 6.5
        </rosparam>

    </node>

</launch>
