<launch>

#<!-- Transform /base_link to /laser frame -->
<node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0.190 0 0.390 0 0 0 base_link laser 1" />

#<!-- Transform /base_link to /camera_link frame -->
<node pkg="tf" type="static_transform_publisher" name="base_to_camera_broadcaster" args="0.190 0 0.390 0 0 0 base_link camera_link 100" />

#<!-- Starting p2os driver for motors and encoders -->
#<!-- node name="p2os_driver" pkg="p2os_driver" type="p2os_driver" args="_pulse:=1.0"/ -->

<node name="RosAria" pkg="rosaria" type="RosAria" args="_port:=/dev/ttyS0">

<remap from="~cmd_vel" to="cmd_vel" />
</node>

#<!-- Launching LMS1xx_node for laser Sick LMS100 via ethernet -->
  <arg name="host" default="192.168.2.100" />
  <node pkg="lms1xx" name="lms1xx" type="LMS1xx_node" output="screen">
  <param name="host" value="$(arg host)" />
  </node>

  #<!-- include file="$(find freenect_launch)/launch/freenect.launch"/ -->

</launch>
