<launch>
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0.190 0 0.390 0 0 0 base_link laser 1" />
  
  <node name="p2os_driver" pkg="p2os_driver" type="p2os_driver" args="_pulse:=1.0"/>

  <arg name="host" default="192.168.2.100" />
  <node pkg="lms1xx" name="lms1xx" type="LMS1xx_node" output="screen">
  <param name="host" value="$(arg host)" />
  </node>

</launch>
