<launch>
	<master auto="start"/>
	
	<!-- Run the map server (you can run it here or in another terminal) -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find pioneer_utils)/maps/floor_zero-map.yaml"/>

	<!--- Run AMCL -->
	<include file="$(find pioneer_utils)/navigation/amcl.launch"/>
	
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find pioneer_utils)/navigation/costmap_common_params_p3at.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find pioneer_utils)/navigation/costmap_common_params_p3at.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find pioneer_utils)/navigation/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find pioneer_utils)/navigation/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find pioneer_utils)/navigation/base_local_planner_params.yaml" command="load" />
    </node>
</launch>
