<launch>

<!-- Starting rosaria driver for motors and encoders -->
  <include file="$(find pioneer_utils)/follower/follower-pioneer-3at.launch"/>

<!-- Launching LMS1xx_node for laser Sick LMS100 via ethernet -->
  <include file="$(find pioneer_utils)/sensors/LMS1xx.launch"/>

<!-- Launch p2os gmapping slam -->
  <include file="$(find p2os_launch)/launch/gmapping.launch"/>

</launch>
